@font-face {
  font-family: "MontserratAlternatesSemiBold";
  src: url('../fonts/MontserratAlternates-SemiBold/MontserratAlternates-SemiBold.eot');
  src: url("../fonts/MontserratAlternates-SemiBold/MontserratAlternates-SemiBold.ttf") format("truetype"),
  url("../fonts/MontserratAlternates-SemiBold/MontserratAlternates-SemiBold.woff") format('woff');
}

@font-face {
  font-family: "MontserratAlternatesMedium";
  src: url('../fonts/MontserratAlternates-Medium/MontserratAlternates-Medium.eot');
  src: url("../fonts/MontserratAlternates-Medium/MontserratAlternates-Medium.ttf") format("truetype"),
  url("../fonts/MontserratAlternates-Medium/MontserratAlternates-Medium.woff") format('woff');
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot');
  src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf") format("truetype"),
  url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff") format('woff');
}

@font-face {
  font-family: "MontserratBold";
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"),
  url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format('woff');
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot');
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"),
  url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format('woff');
}

@font-face {
  font-family: "MontserratMedium";
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot');
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"),
  url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format('woff');
}

@font-face {
  font-family: "MontserratRegular";
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format('woff');
}

@font-face {
  font-family: "PoppinsExtraBold";
  src: url('../fonts/Poppins-ExtraBold/Poppins-ExtraBold.eot');
  src: url("../fonts/Poppins-ExtraBold/Poppins-ExtraBold.ttf") format("truetype"),
  url("../fonts/Poppins-ExtraBold/Poppins-ExtraBold.woff") format('woff');
}
