@import "./mixing";

:root {
  --background-base-white: #FFFFFF;
  --background-secondary-white: #F9F8F8;

  --color-gray: #2E2E2E;
  --color-base: #A200B0;

  --font-montserrat-alternates-bold: "MontserratAlternatesSemiBold", sans-serif ;
  --font-montserrat-alternates-medium: "MontserratAlternatesMedium", sans-serif ;

  --font-montserrat-Extra-Bold: "MontserratExtraBold", sans-serif ;
  --font-montserrat-Bold: "MontserratBold", sans-serif ;
  --font-montserrat-Medium: "MontserratMedium", sans-serif ;
  --font-montserrat-Regular: "MontserratRegular", sans-serif ;

  --font-poppins-Regular:"PoppinsExtraBold", sans-serif ;

  --font-size-s: toRem(18);
  --font-size-m: toRem(22);
  --font-size-l: toRem(30);

  --font-height-s: toRem(30);
  --font-height-m: toRem(34);
  --font-height-l: toRem(42);
}
