@import "styles/mixing";

.education{
  padding: toRem(111) 0 toRem(152) 0;
  &__h{
    font-family: var(--font-montserrat-Semi-Bold);
    font-size: toRem(46);
    line-height: toRem(46);
    color: var(--color-gray);
    padding-bottom: toRem(51);
  }
  &__list{
    gap: toRem(21);
    flex-wrap: wrap;
  }
  &__node{
    border-radius: toRem(10);
    padding: toRem(38) toRem(28);
    box-shadow: 0 1px 4px 0 rgba(167, 167, 167, .5);
    min-height: toRem(475);
    flex: 1 1 toRem(350);
    max-width: toRem(385);
  }
  &__picture{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: toRem(11);
  }
  &__img{
    max-width: toRem(116);
    width: 100%;
  }
  &__cap{
    color: var(--color-black);
    font-size: toRem(26);
    left: toRem(45);
    padding-bottom: toRem(13);
  }
  &__span{
    color: var(--color-gray);
    font-weight: var(--font-montserrat-Regular);
    font-size: toRem(22);
    line-height: toRem(38);
  }
}