@import "styles/mixing";

.nav{
  column-gap: toRem(40);
  position: sticky;
  top: 0;
  &__link{
    text-decoration: none;
    color: var(--color-gray);
    font-size: toRem(18);
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--color-gray);
      transform: scale(0);
      transition: transform .2s linear;
    }
    &--active{
      &::before{
        transform: scale(1);
      }
    }
  }
}