@import "styles/mixing";

.problems{
  background-color: var(--background-secondary-white);
  padding: toRem(97) 0;
  &__h{
    font-family: var(--font-montserrat-Bold);
    font-size: toRem(46);
    line-height: toRem(46);
    color: var(--color-base);
    text-align: center;
    padding-bottom: toRem(19);
  }
  &__subtitle{
    color: var(--color-gray);
    font-size: toRem(22);
    line-height: toRem(38);
    text-align: center;
    padding-bottom: toRem(70);
  }
  &__list{
    row-gap: toRem(34);
  }
  &__cell{
    column-gap: toRem(23);
  }
  &__int{
    border: 2px solid var(--color-base);
    color: var(--color-base);
    font-size: toRem(42);
    line-height: toRem(42);
    border-radius: 50%;
    width: toRem(75);
    height: toRem(75);
    font-family: var(--font-poppins-Regular);
  }
  &__text{
    font-family: var(--font-montserrat-Regular);
    font-size: toRem(22);
    line-height: toRem(38);
  }
}