@import "styles/mixing";

.error{
  column-gap: toRem(10);
  height: 80vh;
  &__span{
    font-size: toRem(30);
    font-family: var(--font-montserrat-alternates-bold);
    &:first-child{
      padding-right: toRem(19);
      margin-right: toRem(15);
      position: relative;
      &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: toRem(4);
        background-color: var(--color-gray);
      }
    }
  }
}