@import "styles/mixing";

.call-link{
  font-family: var(--font-montserrat-Semi-Bold);
  color: var(--color-gray);
  column-gap: toRem(8);
  text-decoration: none;
  font-size: toRem(18);
  line-height: toRem(19);
  &__ico{
    width: toRem(18);
    height: toRem(18);
  }
  &__span{
    color: inherit;
  }
}